body, html { overflow: visible !important; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1 {
  border-bottom: 1px solid #d6d5d2;
}

.mashlist {
  margin: 20px 0;
}

.header {
  margin: 0 0 4px 0;
}
.header > img { float: left; }
.header h3 {
  margin: -2px 0 0 6px;
  float: left;
}
.header input {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: -2px 0 0 6px;
  padding: 0;
  float: left;
}
.header input:focus {
  margin: -3px 0 -1px 4px;
}
.add {
  margin: -4px 0 -4px 6px;
  float: left;
}
.add .sp-button-text {
  font-size: .9em;
  font-weight: normal;
}

.including {
  color: #747474;
}
.playlists {
  color: #343434;
}
.playlists a {
  margin: 0 6px 0 0;
  color: #343434;
}
.playlists a:hover {
  text-decoration: none;
}

.controls {
  float: left;
  margin: 0 6px 0 0;
  text-align: center;
}
.dropzone {
  height: 126px;
  width: 126px;
  margin: 0 0 12px 0;
  border: 2px dashed #d6d5d2;
  border-radius: 4px;
  background: url(sp://playlistmerge/img/add.png) no-repeat center;
  background-size: 100px 100px;
}
.dropzone.over {
  border-style: dashed;
  border-color: #7ab800;
  background-image: url(sp://playlistmerge/img/add-over.png);
}
.play {
  display: block;
  width: 79px;
  height: 79px;
  margin: 0 auto 24px auto;
  background-image: url(sp://playlistmerge/img/play.png);
  cursor: pointer;
}
.play:hover {
  background-image: url(sp://playlistmerge/img/play-over.png);
}
.remove {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url(sp://playlistmerge/img/delete-remove-close.png);
  background-size: 50px 50px;
  cursor: pointer;
}
.remove:hover {
  background-image: url(sp://playlistmerge/img/delete-remove-close-over.png);
}

.tracks {
  border: 1px solid #d6d5d2;
  border-radius: 4px;
  overflow: hidden;
}
.tracks h4 {
  margin: .5em;
}
.history {
  width: 100%;
  height: 400px;
}